<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title">Add E-Reader</h3>
        </div>
      </div>
      <div class="card-block">
        <form
            novalidate
            (ngSubmit)="saveReader()"
            [formGroup]="readerForm">

          <div class="form-group" [ngClass]="{'has-error': (readerForm.get('categoryId').touched
                        || readerForm.get('categoryId').dirty) && !readerForm.get('categoryId').valid }">
            <p *ngIf="(categoriesError$ | async) as errorMessage">{{errorMessage}}</p>
            <label class="control-label" for="categoryId">Category</label>
            <select class="form-control" id="categoryId" required="required" formControlName="categoryId">
              <option value="">Choose product category</option>
              <option *ngFor="let c of categories$ | async"  value="{{c.id}}">
               {{c.name}}
              </option>
            </select>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (readerForm.get('name').touched
                        || readerForm.get('name').dirty) && !readerForm.get('name').valid }">
            <label class="control-label" for="readerName">Enter E-Reader name</label>
            <input class="form-control"
                     id="readerName"
                     type="text"
                     placeholder="Reader name (required)"
                    formControlName="name">
            <span class="help-block" *ngIf="(readerForm.get('name').touched
                        || readerForm.get('name').dirty) && readerForm.get('name').errors">
              <span *ngIf="!readerForm.get('name').valid">
                Please enter your reader name. The name must be longer than 3 characters and less than 255 characters.
              </span>
            </span>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (readerForm.get('description').touched
                        || readerForm.get('description').dirty) && !readerForm.get('description').valid }">
            <label class="control-label" for="readerName">Enter E-Reader description</label>
            <input class="form-control"
                   id="readerDescription"
                   type="text"
                   placeholder="Reader description (required)"
                   formControlName="description">
            <span class="help-block" *ngIf="(readerForm.get('description').touched
                        || readerForm.get('description').dirty) && readerForm.get('description').errors">
              <span *ngIf="!readerForm.get('description').valid">
                Please description your reader name. The description must be longer than 3 characters and less than 255 characters.
              </span>
            </span>
          </div>

          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!readerForm.valid">Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
