<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        <a class="navbar-brand" routerLink="/">PDA admin UI</a>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu">
        <li routerLinkActive="active">
          <a routerLink="/home"> <i class="fa fa-home"></i> Home </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/readers"> <i class="fa fa-tablet"></i> E-Readers </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/tablets"> <i class="fa fa-laptop"> Tablets </i> </a>
      </ul>
    </nav>
  </div>
</aside>
