<div class="main-wrapper">
  <div class="app">
    <app-header></app-header>
    <app-navigation></app-navigation>
    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>
