<section class="section">
  <div class="row">
    <div class="col-md-offset-0">
      <p *ngIf="(readersError$ | async) as errorMessage" >{{errorMessage}}</p>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">E-Readers</h3>
          </div>
          <div class="col-md-offset-10">
            <button class="btn btn-primary"
                    (click)="onCreateReader()">New E-Reader</button>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Created date</th>
              <th>Modified date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let reader of readers$ | async">
              <th>{{ reader.id }}</th>
              <td>{{ reader.name }}</td>
              <td>{{ reader.description }}</td>
              <td>{{ reader.category.name }}</td>
              <td>{{ reader.createdAt }}</td>
              <td>{{ reader.lastModified }}</td>
              <td>
                <button class="fa fa-trash-o" (click)="onDeleteReader(reader)">
                </button>
                <button class="fa fa-edit"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
