<div calss="carousel-container">
  <carousel class="text-center">
    <slide>
      <img class="img-main-carousel" src="assets/images/carousel/slide_1.jfif" alt="First slide">
      <div class="carousel-caption">
        <h1>WE ARE CREATIVE</h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/carousel/slide_2.jfif" alt="Second slide">
      <div class="carousel-caption">
        <h1>WE ARE SMART</h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/carousel/slide_3.jfif" alt="Third slide">
      <div class="carousel-caption">
        <h1>WE ARE AMAZING</h1>
      </div>
    </slide>
  </carousel>
</div>

