<header class="header">
  <div class="header-block header-block-search">
    {{ date | date:'dd.MM.yyyy' }}
  </div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li class="profile dropdown">
        <a>
          <span class="name">
              Hi, user
          </span>
        </a>
      </li>
    </ul>
  </div>
</header>
